module.exports = {
  secret: 'your-secret',
  port: 3000,
  useHttps: false,
  db: {
    client: 'mysql',
    connection: {
      user : 'mysqluser',
      host: 'localhost',
      password : 'mysqlpass',
      database : 'mysqldb'
    }
  }
};
