{% extends "app.html.twig" %}

{% block content %}
<div class="container">
    <section class="signup_form row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-body">
                    <form action="{{ rootUrl }}/auth/register/" method="POST" role="form" id="subscriptionForm">
                        <fieldset>
                            <legend>Sign up</legend>
                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="First name" name="first_name" type="text" autofocus value="">
                            </div>

                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="Last name" name="last_name" type="text" autofocus value="">
                            </div>

                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" value="">
                            </div>

                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>

                            <div class="col-md-12 form-group">
                                <input class="form-control" placeholder="Confirm Password" name="password_confirmation" type="password" value="">
                            </div>
                        </fieldset>

                        <i class="divider"></i>
                        <button class="btn btn-primary mbtn" style="margin-left: 15px;">Join</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script>
function objectifyForm(formArray) {//serialize data function

  var returnArray = {};
  for (var i = 0; i < formArray.length; i++){
    returnArray[formArray[i]['name']] = formArray[i]['value'];
  }
  return returnArray;
}
$(document).ready(function() {
    $('#subscriptionForm').submit(function(e) {
      e.preventDefault();
      var serialized = $(this).serializeArray();
      var data = objectifyForm(serialized);
      delete data.password_confirmation;
      console.log('submit', serialized, data);
      $.post('/users', data, function(data) {
        console.log('received', data);
      }, 'json');
    });
});
</script>
{% endblock %}
