.pad-bottom {
  padding-bottom: 15px;
}

#google-thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.g-thumb img {
  max-height: 100px;
}

.g-thumb img.selected {
  border: 2px solid green;
  box-sizing: border-box;
}

#google-fullsize img {
  max-width: 100%;
  max-height: 250px;
}

.pure-form input[type=email].valid-input,
.pure-form input[type=password].valid-input {
  border: 1px solid #4ab948;
}

.pure-form input[type=email].invalid-input,
.pure-form input[type=password].invalid-input {
  color: #b94a48;
  border: 1px solid #e9322d;
}

.invalid-text {
  color: #b94a48;
}